@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 156 15% 98%;
    --foreground: 156 23% 4%;
    --card: 0 0% 100%;
    --card-foreground: 156 19% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 156 19% 10%;
    --primary: 156 9% 39%;
    --primary-foreground: 156 15% 98%;
    --secondary: 156 11% 90%;
    --secondary-foreground: 156 11% 15%;
    --muted: 156 11% 90%;
    --muted-foreground: 156 11% 25%;
    --accent: 156 12% 83%;
    --accent-foreground: 156 11% 15%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 156 15% 98%;
    --border: 156 12% 83%;
    --input: 156 12% 83%;
    --ring: 156 9% 39%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 156 23% 4%;
    --foreground: 156 6% 96%;
    --card: 156 19% 10%;
    --card-foreground: 156 6% 96%;
    --popover: 156 19% 10%;
    --popover-foreground: 156 6% 96%;
    --primary: 156 11% 64%;
    --primary-foreground: 156 6% 96%;
    --secondary: 156 11% 15%;
    --secondary-foreground: 156 11% 90%;
    --muted: 156 11% 15%;
    --muted-foreground: 156 11% 64%;
    --accent: 156 11% 25%;
    --accent-foreground: 156 6% 96%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 156 6% 96%;
    --border: 156 11% 25%;
    --input: 156 11% 25%;
    --ring: 156 11% 64%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
